<html>
<meta http-equiv="refresh" content="<%= refreshInterval %>">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<body bgcolor="<%= color %>" text="white">
    <h1>Kubernets勉強会</h1>
    <p>
        何も面白くないページですが、設定で指定した背景色になり、<br>
        設定で指定したインターバルで自動更新します。(日時を確認)
    </p>
    <script>
        var now = new Date();
        document.writeln(now)
    </script>
</body>
</html>
